In [16]:
# LIBRAIRIES IMPORT
import pandas as pd
from pandas_profiling import ProfileReport
import sweetviz

In [12]:
# DATA IMPORT
uber = pd.read_csv('../data/uber-raw-data-aug14.csv')
uber.head()

          Date/Time      Lat      Lon    Base
0  8/1/2014 0:03:00  40.7366 -73.9906  B02512
1  8/1/2014 0:09:00  40.7260 -73.9918  B02512
2  8/1/2014 0:12:00  40.7209 -74.0507  B02512
3  8/1/2014 0:12:00  40.7387 -73.9856  B02512
4  8/1/2014 0:12:00  40.7323 -74.0077  B02512

In [3]:
# PROFILE REPORT
profile = ProfileReport(uber, title="Uber Trips Aug 2014 Profiling Report")
profile.to_file("uber-raw-data-aug14_profiling.html")

Summarize dataset: 100%|██████████| 21/21 [00:06<00:00,  3.40it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:00<00:00,  1.67it/s]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  5.42it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 627.42it/s]

In [13]:
# No missing values, no correlation, no duplicates
# Date/Time to be changed to datetime format
uber['Date/Time'] = pd.to_datetime(uber['Date/Time'])

In [14]:
uber.tail()

                 Date/Time      Lat      Lon    Base
829270 2014-08-31 23:55:00  40.7552 -73.9753  B02764
829271 2014-08-31 23:55:00  40.7552 -73.9753  B02764
829272 2014-08-31 23:55:00  40.7617 -73.9788  B02764
829273 2014-08-31 23:59:00  40.7395 -73.9889  B02764
829274 2014-08-31 23:59:00  40.7270 -73.9802  B02764

In [17]:
# SAVE AS CSV
uber.to_csv('../data/Uber.csv')